<form action="/wizard_street_to_coords">
<h1>Street to Coords</h1>
  <label for="first_field">Enter Address</label>
  <input type="text" id="first_field" name="address">


  <button>Find!</button>
</form>